.subtotal{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    width: 350px;
    height: 100px;
    padding:0px 20px 45px 20px;
    margin-right: 20px;
    
    border-radius: 30px;
}
.subtotalgift{
    display: flex;
    align-items: center;
    
}
.subtotalgift > input{
    margin-right: 5px;
    
}

.subtotalgift > p{
   font-size: medium;
}

.subtotal >button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 216, 107);
    border-radius: 4px;
    width: 90%;
    height: 25px;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 3px 0px;
   font-size: 14px;
   cursor: pointer;
   margin-left:18px ;
}


.subtotal >p{
    padding-top: -20px;
}
@media only screen and (max-width: 480px){
    .subtotal{
        width: 300px;
        position: absolute;
        left: 5px;
       height: 70px;
       top:130px;
    }
    .subtotal >p{
        font-size: medium;
        position: relative;
        left: 20px;
    }
    .subtotal >button{
        margin-bottom: 0;
    }
}