.cart{
    display: flex;
    justify-content: space-between;
   
}

.cart_left{
    margin-left: 10px;
    width: 1050px;
}
@media only screen and (max-width: 380px){
    .cart{
        width: 360px;
        
    }
    .cart_left{
        width: 300px;
        margin-top: 150px;
    }
}