.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 745px;
    padding-bottom: 50px;
}
.logincontainer{
    width: 340px;
    height: 400px;
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(230, 71, 71);
    border-radius:5px ;
    height: fit-content;
    padding-left: 10px;
}
.login_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 140px;
    font-size: 40px;
    font-weight: 700;
    padding-bottom:15px;
    color:rgb(126, 202, 314);
    font-family: 'Dancing Script', cursive;
}

.logincontainer >h2{
   font-weight: 700;
   font-size: 30px;
   margin-top: -6px;
   margin-bottom: 20px;
}
.logincontainer >form > h4{
  margin-bottom:5px ;
  font-size: 16px;
}
.logincontainer >form > input{
    width: 320px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid ;
    margin-right: 10px;
    padding-left: 10px;
    font-size:18px;
}
.terms{
    margin-top: 15px;
    font-size: 14px;
}
.loginbutton{
    width: 90%;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
    cursor: pointer;
    margin-left:20px ;
    color: rgb(211, 201, 50);
}

.registerbutton{
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 90%;
    cursor: pointer;
    margin-left:20px ;
    color: rgb(211, 201, 50);
}
@media only screen and (max-width: 480px){
    .logincontainer{
        
        padding:5px;
    }
    .login_logo{
        font-size: 36px;
        width: 200px;
        padding: 0;
        padding-bottom: 10px;
    }
}