.payment{
  
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
}

.container >h1{
    align-items: center;
    justify-content: center;
    display: flex;
}

.deliveryaddress{
    display: flex;
}
.checkoutlink{
    text-decoration: none;
    color: red;
}

.deliveryaddress{
    display: flex;
    margin: 0px 20px;
    border-bottom: 1px solid black;
    padding: 20px;
}
.title{
    font-weight: 700;
    font-size: 20px;
    flex: 0.1;
}
.reviewitems{
    display: flex;
    margin: 0px 20px;
    border-bottom: 1px solid black;
    padding: 20px;
    
}
.address{
    flex: 0.2;
    font-size: 18px;
    margin-top: -16px;
    margin-left: 10px;
}
.buyingitems{
    flex: 0.8;
}

.paymentmethod{
    flex: 0.3;
    margin-left: 20px;
}

.buynowbtn{
    width: 100px;
    height: 28px;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(216, 216, 107);
    background-color: black;
}

.buynowbtn :active{
    background-color: rgb(211, 201, 50);
    color: black;
}

@media only screen and (max-width: 480px){
    .payment{
        max-width: 360px;
        
    }
    .container{
        width: 360px;
        position: relative;
        right: 140px;
        
    }
    .title{
        font-weight: 500;
        font-size: 12px;
    }
    .deliveryaddress{
        width: 328px;
        padding-left: 0;
    }
    .reviewitems{
        width: 328px;
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
    .paymentmethod{
      min-width: 280px;
      flex:1;
      font-size: small;
      margin-left: 10px;
    }
    .cardelement{
        font-size: 10px;
    }
    .container >h1{
      font-weight: 500;
      font-size: 14px;
      position: relative;
      right: 400px;
    }
}