.homeproducts{
    
   padding-bottom: 80px;
   justify-content: center;
   
   width: 1514px;
     
   min-width: 250px;;
    
    height: 1210px;
    padding-top: 60px;
    
}
.homeproducts_row{
    padding-left:10px ;
    display: flex;
    padding-top: 18px;
    flex: 1;
    padding-right: 16px;
    max-height: 560px;
    min-height: 560px;
    padding-bottom: 30px;
    padding-top: 40px;
}
@media only screen and (max-width:380px){
 .homeproducts{
    width: 360px;
    padding-top: 20px;
 }
 .homeproducts_row{
  min-height: 200px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  max-height: 1000px;
 }
}